@{
    Layout = null;
}
@model McF.Models.ResetPasswordViewModel
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/bootstrap")
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
</head>
<body>
    @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div style="padding-top:100px">
            <div>
                @if (TempData["ErrorMSG"] != null)
                {
                    <div class="alert alert-danger">
                        <strong>@TempData["ErrorMSG"]</strong>
                    </div>
                    <br /><br />
                }
            </div>
            <div class="module form-module">
                <div class="toggle">
                </div>
                <div class="form">
                    <h2>Reset Password</h2>
                    <form>
                        @Html.TextBoxFor(s => s.Email, new { @placeholder = "Username" })
                        @Html.PasswordFor(s => s.Password, new { @placeholder = "Password" }) 
                        @Html.PasswordFor(s => s.NewPassword, new { @placeholder = "New Password" })                        
                        <button>Reset Password</button>
                        <br /><br />
                        Already a user? @Html.ActionLink("Login Here", "Login", "Home")
                    </form>
                </div>
            </div>
        </div>
    }
</body>
</html>
